
<mat-toolbar id = "toolbar" color="primary" [class.mat-elevation-z6]="true">
  <span routerLink='/'>Azure Resource Name Generator</span>
</mat-toolbar>

<section id = "pageContent">
  <header fxLayout = "column" fxLayoutAlign = "center center">
    <h1>Azure Resource Name Generator</h1>
    <p>Automatically generates resources names in a wide range of formats</p>
  </header>

  <section id = "generator" fxLayout = "column" fxLayoutAlign = "center center">
    <app-input-form (modelEvent) = "setData($event)"></app-input-form>

    <!-- <button mat-raised-button>Generate!</button> -->


    <h1 *ngIf = "resourceData">{{name}}</h1>
  </section>
</section>

<app-format-selector *ngIf = "resourceData" [data]="resourceData" (selectedChange)= "nameChange($event)"></app-format-selector>

<router-outlet></router-outlet>
