#toolbar{
    height: 64px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

#pageContent{
    margin-top: 64px;
}

header{
    padding: 64px;
    background-color: #3F51B5;
    color: white;
}

header h1 {
    margin-bottom: 0px;
    font-size: 64px;
    text-align: center;
}

header p {
    margin-top: 0px;
    font-size: 18px;
    text-align: center;

}

header button{
    margin-top: 50px;
    margin-bottom: 50px;
}


#generator h1 { 
    font-size: 48px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-right: 16px;
}

mat-card{
    margin-bottom: 64px;
    margin-left: 1rem;
    margin-right: 1rem;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer{
    width: 50ch;
}


#sidebarTitle{
    padding: 16px;
    padding-bottom: 0px;
}


@media screen and (max-width: 1000px) {
    #generator h1 {
        font-size: 32px;
    }
}