#toolbar{
    height: 64px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

#pageContent{
    margin-top: 64px;
}

header{
    padding: 64px;
    background-color: #3F51B5;
    color: white;
}

header h1 {
    margin-bottom: 0px;
    font-size: 64px;
    text-align: center;
}

header p {
    margin-top: 0px;
    font-size: 18px;
    text-align: center;

}

header button{
    margin-top: 50px;
    margin-bottom: 50px;
}


#generator h1 { 
    font-size: 48px;
    text-align: center;
    padding: 2rem;
}

