<mat-grid-list id="grid" [cols]="breakpoint" [rowHeight]="rowHeight" (window:resize)="onResize()">
    <mat-grid-tile class="tile">
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Resource-Application-Instance-Region-Environment</mat-card-title>
                <mat-card-actions>
                    <button color = "accent" mat-icon-button aria-label="Example icon button with a heart icon" (click) = "changeSelection($event, 'Resource-Application-Instance-Region-Environment')">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">{{generateName("Resource-Application-Instance-Region-Environment")}}</b>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Resource-Application-Environment-Region-Instance</mat-card-title>
                <mat-card-actions>
                    <button mat-icon-button aria-label="Example icon button with a heart icon" (click) = "changeSelection($event, 'Resource-Application-Environment-Region-Instance')">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">{{generateName("Resource-Application-Environment-Region-Instance")}}</b>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Application-Resource-Region-Environment-Instance</mat-card-title>
                <mat-card-actions>
                    <button color = "green" mat-icon-button aria-label="Example icon button with a heart icon"  (click) = "changeSelection($event, 'Application-Resource-Region-Environment-Instance')">
                        <mat-icon >star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">{{generateName("Application-Resource-Region-Environment-Instance")}}</b>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Region-Environment-Application-Resource-Instance</mat-card-title>
                <mat-card-actions>
                    <button mat-icon-button aria-label="Example icon button with a heart icon" (click) = "changeSelection($event, 'Region-Environment-Application-Resource-Instance')">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">{{generateName("Region-Environment-Application-Resource-Instance")}}</b>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Resource-Application-Instance-Environment-Region</mat-card-title>
                <mat-card-actions>
                    <button mat-icon-button aria-label="Example icon button with a heart icon"  (click) = "changeSelection($event, 'Resource-Application-Instance-Environment-Region')">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">{{generateName("Resource-Application-Instance-Environment-Region")}}</b>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card fxLayout="column">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>Custom</mat-card-title>
                <mat-card-actions>
                    <button mat-icon-button aria-label="Example icon button with a heart icon">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
            <b fxFlexAlign="center">Coming Soon!</b>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>