.grid {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 0px !important;
}

.grid-sidebar{
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 0px !important;
}

mat-card b{
  font-size: 1rem;
}

@media screen and (max-width: 1900px) {
  .grid {
    margin-left: 15%;
    margin-right: 15%;
  }
  .grid-sidebar{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1700px) {
  .grid {
    margin-left: 5%;
    margin-right: 5%;
  }
  .grid-sidebar{
    margin-left: 2%;
    margin-right: 2%;
  }
}

mat-card {
  width: 100%;
  margin: 16px;
  cursor: pointer;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
mat-chip-list{
    display: inline-block;
    margin-left: 0.5rem;
}

