#grid{
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 0px !important;
}

@media screen and (max-width: 1900px) {
    #grid{
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (max-width: 1700px) {
    #grid{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

mat-card{
    width: 100%;
    // padding: 0px;
    margin: 16px;
   
}
